/*-----My qualification page-----*/

table{
    margin-left: 600px;
    margin-right: 600px;
    color: white;
    font-size: 18;
   
}
.table, th, td {
    border: 1px solid;
  }
  
.table {
    width: 100%;
    
    
  }

tablr,h3,h2{
    margin-left: 600px;
    margin-right: 600px;
    color:rgb(247, 73, 247);
    padding: 10px;
}